<style>
    .MyCardElement {
        height: 40px;
        padding: 10px 12px;
        width: 68%;
        color: #32325d;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 4px;

        box-shadow: 0 1px 3px 0 #0a5e2a;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .text-mycardelement {
        width: 60%;
        font-size: 14px;
    }

    .button-container {
        width: 80%;
    }

    .MyCardElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .MyCardElement--invalid {
        border-color: #fa755a;
    }

    .MyCardElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    .container-media {
        width: 70%;
    }

    .container-media-inner {
        width: 71%;
    }

    @media (max-width: 500px) {
        .container-media {
            width: 95%;
        }

        .container-media-inner {
            width: 90%;
        }

        .MyCardElement {
            width: 85%;
        }

        .text-price {
            font-size: 27px;
        }
    }
</style>

<h2 class="text-center py-3">{{{user_json.name}}}, estás a pocos pasos de adquirir tu plan</h2>

<form id="subscription-form" action="/subscription/create" method="POST">
    <input type="hidden" value="{{ subscription.subscriptionName }}" name="productName" id="productName" />
    <input type="hidden" value="{{ subscription.subscriptionId }}" name="planId" id="planId" />
    <input type="hidden" value="{{ subscription.subscriptionAmount }}" name="planAmount" id="planAmount" />
    <input type="hidden" value="{{ subscription.subscriptionName }}" name="planName" id="planName" />
    <input type="hidden" value="{{ subscription.subscriptionInterval }}" name="planInterval" id="planInterval" />
    <input type="hidden" value="{{ subscription.subscriptionPriceId }}" name="priceId" id="priceId" />
    <input type="hidden" value="{{ user_json.stripeCustomerId}}" name="customerId" id="customerId" />

    <div class="card text-center container-media" style="margin: auto;">
        <div class="d-flex card-header">
            <div class="text-left flex-nowrap">
                <div>
                    <span class="text-muted" style="font-size: 12px">Plan seleccionado</span>
                </div>
                <div>
                    <span style="font-size: 14px;"><strong>{{subscription.subscriptionName}}</strong></span>
                </div>
                <div>
                    <span style="font-size: 12px;">Pago mensual automático</span>
                </div>
            </div>
            <div class="ml-auto mt-auto mb-auto ">
                <h2 class="text-price">🇲🇽 ${{subscription.subscriptionAmount}} {{subscription.subscriptionCurrency}}
                </h2>
            </div>
        </div>
        <div class="card-body">

            <div class="container p-2 container-media-inner">
                <div class="d-flex">
                    <div class="form-check mr-auto">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Pagar con tarjeta
                        </label>
                    </div>
                    <div class="ml-auto">
                        <img src="/img/stripe_card.png" alt="Pagar con tarjeta" style="height: 22px;">
                    </div>
                </div>
            </div>
            <div class="text-mycardelement d-flex container mt-4 container-media-inner">
                <label for="" class="mr-auto">Ingresa tu nombre</label>
            </div>
            <div class="d-flex container mb-4 container-media-inner">
                <input type="text" name="name" class="form-control " id="name"
                    placeholder="Nombre titular de la tarjeta" required autofocus>
            </div>

            <div class="text-mycardelement d-flex container text-left container-media-inner">
                <label for="" class="mr-auto">Ingresa la información de tu tarjeta</label>
            </div>
            <div id="card-element" class="MyCardElement container">
                <!-- Elements will create input elements here -->
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert" style="font-size: 14px;"></div>
            <br>

            <div class="container p-1 text-center container-media-inner" style="text-align: center;">

                <button class="btn btn-success btn-block text-center py-3" type="submit" id="btn-pay"
                    style="display: flex; justify-content: center; font-size: 18px;">Pagar
                    ${{subscription.subscriptionAmount}}/{{subscription.subscriptionInterval}}</button>
            </div>
        </div>

        <div class="card-footer text-muted">
            <i class="fas fa-lock"></i> Pago 100% seguro, protegemos tus datos.
        </div>
    </div>
</form>
